.navbar{
  display: none;
}

.navbar-mobile {
  position: fixed;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  padding-top: 10rem;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  background-color: #155579;
  z-index: 101;
}

.nav-mobile-menu{
  height: auto;
  width: 3rem;
  background: transparent;
  cursor: pointer;
  padding: 10px auto;
  vertical-align: middle;
  border: none;
  margin-left: 1rem;
}
.nav-mobile-menu_bar{
  width: 100%;
  display: block;
  height: 0.2rem;
  background: rgb(40, 48, 63);;
  margin: 0.6rem 0;
  /* z-index: 1110 */
}

.nav-link {
  list-style: none;
  font-size: 3rem;
  padding: 0 0 2rem 3rem;
  margin: 0;
  cursor: pointer;
}
.header {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.logo {
  user-select: none;
  padding-top: 1rem;
}

.logo h1 {
  font-size: 3.5rem;
  letter-spacing: 0.2em;
}
.logo h2 {
  padding-top: 0.7em;
  font-size: 1rem;
  text-align: center;
  letter-spacing: 0.3em;
}
.logo-u {
  position: inline-block;
  background-color: #0ba1a1;
  padding: 0.5em 0 0 0.5em;
}
a {
  text-decoration: none;
}
.cart {
  display: flex;
  align-items: center;
  /* padding: 0 2.2rem; */
  font-size: 2.5rem;
  cursor: pointer;
}
@media (min-width: 40rem) {
  .header {
    padding-top: 1.5rem;
  }

  .nav-mobile-menu {
    display: none;
  }
  .navbar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* justify-content: center; */
    font-size: 2.5rem;
    /* padding: 0 0.8rem; */
  }
  .nav-link {
    text-decoration: none;
    cursor: pointer;
    list-style: none;
    padding: 0 2rem;
  }
}
